@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}

page-home {

  .floating-button {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
}
